{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAPLE</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    {% bootstrap_css %}
</head>

<body class="position-relative bg-light">
<!-- 네브바 -->
<nav class="nav navbar navbar-dark navbar-expand-lg shadow-sm" id="nav-sticky" style="height: 90px; z-index: 100;">
    <div class="container">
        <a href="{% url 'stores:index' %}">

            <img class="navbar-brand" src="{% static 'images/logo.png' %}" style="width: 100px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'stores:index' %}">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reviews:index' %}">Review</a>
                    </li> -->
            </ul>

            <!-- 검색창 -->
            <br>
            <form class="d-flex" method="POST" action="{% url 'stores:search' %}">
                {% csrf_token %}
                <input class="form-control me-1" name="store_search" type="search" placeholder="맛집 검색하기"
                       aria-label="Search" style="border-radius: 104.375rem; width: 30rem;">
                <a class="search-btn btn" type="submit"><i class="bi bi-search"></i></a>
            </form>
            <br>

            <!-- 유저이름 -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user }}
                    </a>
                    <ul class="dropdown-menu" id="drop-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                            <li><a class="nav-link ms-1" href="{% url 'accounts:mypage' user.pk %}">마이페이지</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="nav-link ms-1" href="{% url 'accounts:logout' %}">로그아웃하기</a>
                        {% else %}
                            <a class="nav-link ms-1" href="{% url 'accounts:signup' %}">회원가입하기</a>
                            <a class="nav-link ms-1" href="{% url 'accounts:login' %}">로그인하기</a>
                        {% endif %}

                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>


<!-- <a href="{% url 'stores:create' %}">생성</a>
    <div class="row">
        <div class="col-md-12">
    </div> -->

{% comment %} <div class="content position-absolute top-0"> {% endcomment %}
    <!-- 캐러쉘 -->
    {% comment %} <div id="carouselExampleSlidesOnly" class="position-relative mb-5 carousel slide carousel-fade"
         data-bs-ride="carousel">
        <div class="car-overlay">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/c1.jpg' %}" class="d-block w-100" alt="..."
                         style="width: 100vw !important;">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/c2.jpg' %}" class="d-block w-100" alt="..."
                         style="width: 100vw !important;">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/c3.jpg' %}" class="d-block w-100" alt="..."
                         style="width: 100vw !important;">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/c4.jpg' %}" class="d-block w-100" alt="..."
                         style="width: 100vw !important;">

                </div>
            </div>

        </div>

        <div class="main-title text-center">
            <h1 class="mb-4">{{ user }}<span class="sub-title">님을 위한 맛집 추천</span></h1>
            <!-- 내위치버튼1 -->
            <button type="button" onclick="getCurrentPosBtn()" class="map-btn shadow btn btn-lg text-white"
                    id="getMyPositionBtn"
                    style="border-radius: 30px; width: 15rem; background-color: #f08724; font-size: 18px; font-weight: 500;">
                내 위치 가져오기
            </button>
        </div>
    </div> {% endcomment %}

    <!-- search text -->
    <h1 style="font-weight:lighter;"><span id="search" style="font-weight:bold;">{{ search }}</span>(으)로 검색한 결과입니다.</h1>

    <!-- plus search -->
    <div>
        <button id='name-sort'>가게이름 순</button>
        <button id='like-sort'>좋아요 많은 순</button>
        <button id='score-sort'>평점 높은 순</button>
        <button id='review-sort'>리뷰 많은 순</button>
    </div>

    

    <div class="container" id="result-box">
        <!-- 본문 컨텐츠 -->
        {% for item in results %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="{% url 'stores:detail' item.pk %}"><img src="{{ item.store_image }}"
                                                                         class="img-fluid rounded-start" alt="..."></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'stores:detail' item.pk %}">{{ item.store_name }}</a>
                            </h5>
                            <p class="card-text">{{ item.store_address }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% comment %} </div> {% endcomment %}

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // const result = '{{ results }}'
        const search = document.querySelector('#search').innerHTML
        const nameSort = document.querySelector('#name-sort')
        const likeSort = document.querySelector('#like-sort')
        const scoreSort = document.querySelector('#score-sort')
        const reviewSort = document.querySelector('#review-sort')

        // nameSort
        nameSort.addEventListener('click', function() {
            console.log(search)
            axios({
                method: 'post',
                url: '/stores/name-sort/',
                headers : {'X-CSRFTOKEN' : '{{ csrf_token }}'},
                data: {'search': search}
            }).then(response => {
                const resultBox = document.querySelector('#result-box')
                resultBox.textContent = ""
                for (let i = 0; i < response.data.results.length; i++) {
                    console.log(`${response.data.results[i].store_pk}`)

                resultBox.insertAdjacentHTML('beforeend', `

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="detail/${response.data.results[i].store_pk}/"><img src="{% static 'images/alt.png' %}"
                                                                                class="img-fluid rounded-start" alt="..."></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="detail/${response.data.results[i].store_pk}/">${response.data.results[i].store_name}</a>
                                    </h5>
                                    <p class="card-text">${response.data.results[i].store_address}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                `)
            }

                console.log(response.data)
            })
        })

        // likeSort
        likeSort.addEventListener('click', function() {
            console.log(search)
            axios({
                method: 'post',
                url: '/stores/like-sort/',
                headers : {'X-CSRFTOKEN' : '{{ csrf_token }}'},
                data: {'search': search}
            }).then(response => {
                const resultBox = document.querySelector('#result-box')
                resultBox.textContent = ""
                for (let i = 0; i < response.data.results.length; i++) {
                    console.log(`${response.data.results[i].store_pk}`)

                resultBox.insertAdjacentHTML('beforeend', `

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="detail/${response.data.results[i].store_pk}/"><img src="{% static 'images/alt.png' %}"
                                                                                class="img-fluid rounded-start" alt="..."></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="detail/${response.data.results[i].store_pk}/">${response.data.results[i].store_name}</a>
                                    </h5>
                                    <p class="card-text">${response.data.results[i].store_address}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                `)
            }

                console.log(response.data)
            })
        })

        // scoreSort
        scoreSort.addEventListener('click', function() {
            console.log(search)
            axios({
                method: 'post',
                url: '/stores/score-sort/',
                headers : {'X-CSRFTOKEN' : '{{ csrf_token }}'},
                data: {'search': search}
            }).then(response => {
                const resultBox = document.querySelector('#result-box')
                resultBox.textContent = ""
                for (let i = 0; i < response.data.results.length; i++) {
                    console.log(`${response.data.results[i].store_pk}`)

                resultBox.insertAdjacentHTML('beforeend', `

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="detail/${response.data.results[i].store_pk}/"><img src="{% static 'images/alt.png' %}"
                                                                                class="img-fluid rounded-start" alt="..."></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="detail/${response.data.results[i].store_pk}/">${response.data.results[i].store_name}</a>
                                    </h5>
                                    <p class="card-text">${response.data.results[i].store_address}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                `)
            }

                console.log(response.data)
            })
        })

        // reviewSort
        reviewSort.addEventListener('click', function() {
            console.log(search)
            axios({
                method: 'post',
                url: '/stores/review-sort/',
                headers : {'X-CSRFTOKEN' : '{{ csrf_token }}'},
                data: {'search': search}
            }).then(response => {
                const resultBox = document.querySelector('#result-box')
                resultBox.textContent = ""
                for (let i = 0; i < response.data.results.length; i++) {
                    console.log(`${response.data.results[i].store_pk}`)

                resultBox.insertAdjacentHTML('beforeend', `

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="detail/${response.data.results[i].store_pk}/"><img src="{% static 'images/alt.png' %}"
                                                                                class="img-fluid rounded-start" alt="..."></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="detail/${response.data.results[i].store_pk}/">${response.data.results[i].store_name}</a>
                                    </h5>
                                    <p class="card-text">${response.data.results[i].store_address}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                `)
            }

                console.log(response.data)
            })
        })

    </script>


<!-- axios({
    method: 'post',
    url: `/accounts/database/`,
    headers: {'X-CSRFToken': csrftoken},
    data: {'username': id, 'email': email}
    }).then(response => {
    location.reload();
    // window.location.href = 'http://localhost:8000/reviews/'; // 이동할 url
    }) -->



    {% bootstrap_javascript %}
</body>
</html> 