@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0; 
  letter-spacing: -0.5px;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.appra {
  display: inline-block;
  line-height: 32px;
  padding: 2px 18px 0px 18px;
  border: 1px solid #222228;
  border-radius: 20px;
  margin-right: 10px;
  /* float: right; */
}

.appra span {
  font-size: 13px;
  padding: 2px 0 3px 25px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/profile/review@2x.png) no-repeat left;
  background-size: 20px;
}
.appra.active span {
background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/profile/review-w@2x.png) no-repeat left;
background-size: 20px;
}
.display-none {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  transition: 0.6s;
  padding: 50px;
}

.nav2 {
  position: fixed;
  top: 0;
  transition: 0.6s;
  padding: 50px;
}

.bg-image {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient( rgba(0, 0, 0, 0.704), rgba(0, 0, 0, 0.5) ), url('../images/2.jpg');
  background-repeat : no-repeat;
  background-size : cover;
  backdrop-filter: blur(2.5px);
  flex-direction: column;
}

.car-overlay{
  min-height: 100%;
  width: 100%;
  filter: brightness(50%); 
}

.btn-start {
  color: white;
  background-color: #f08724;
  text-decoration: none;
  width: 16rem;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 3px 10px 15px 2px rgba(0, 0, 0, 0.165);
}

.div-cont {
  max-width: 940px !important;
  margin: 0 auto !important;
  width: 100% !important;
}

.dropdown-menu {
  --bs-dropdown-min-width: 115px !important;
}

.form-floating {
  z-index: -1;
}

i {
  font-style: normal;
}

.profile-crop {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%,-50%);
}

.prorile-card {
  background-color: white;
  padding: 4rem 0;
  box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.067);
  width: 35rem;
  border-radius: 20px;
}

.star {
  padding-left: 16px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/rating-on@2x.png) no-repeat left;
  background-size: 12px;
  margin-left: 3px;
}

.star-rate {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 20px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/rating-off@2x.png) repeat-x left;
  background-size: 20px;
  vertical-align: middle;
}

.star-rate i {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/rating-on@2x.png) repeat-x left;
  background-size: 20px;
}

.mypage-box {
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 5px 18px 2px rgba(0, 0, 0, 0.035);
}

.title { 
  font-weight: 400;
}

.login-page {
  min-height: 100vh;
  width: 100vw;
  /* backdrop-filter: blur(2.5px); */
  /* background-image: linear-gradient( rgba(37, 16, 0, 0.755), rgba(106, 53, 0, 0.574) ), url('../images/1.jpg');
  background-repeat : no-repeat;
  background-size : cover; */
}

.login-box {
  background-color: rgb(255, 255, 255);
  width: 25rem;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 2px rgba(0, 0, 0, 0.052);
  display: flex;
  flex-direction: column;
  padding: 4.5rem 3.5rem;
  /* border: 3px solid white; */
}

.login-btn {
  width: 100%;
  height: 2.7rem;
}

.login-box > img {
  width: 100%;
  height: 2.7rem;
}


.signup {
  margin: 0 5rem;
}

#kakao-login-btn {
  width: 100% !important;
  height: 2.7rem !important;
}

#kakao-login-btn > img {
  width: 100% !important;
  height: 2.7rem !important;
}

#kakao-login-btn {
  width: 100% !important;
  height: 2.7rem !important;
}

#naver_id_login > a > img {
  width: 100% !important;
  height: 2.7rem !important;
}

.main-title {
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-shadow: -1px 0px 8px rgba(0, 0, 0, 0.2), 0px 1px 8px rgba(0, 0, 0, 0.2), 1px 0px 8px  rgba(0, 0, 0, 0.2), 0px -1px 8px rgba(0, 0, 0, 0.2);
}

.sub-title {
  font-weight: 400;
}

/* #carouselExampleSlidesOnly {

} */