* {
  margin: 0;
  padding: 0; 
  letter-spacing: -0.93px;
  outline: none;
  font-family: 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.appra {
  display: inline-block;
  line-height: 32px;
  padding: 2px 18px 0px 18px;
  border: 1px solid #222228;
  border-radius: 20px;
  margin-right: 10px;
  float: right;
}

.appra span {
  font-size: 13px;
  padding: 2px 0 3px 25px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/profile/review@2x.png) no-repeat left;
  background-size: 20px;
}
.appra.active span {
background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/profile/review-w@2x.png) no-repeat left;
background-size: 20px;
}
.display-none {
  display: none;
}


nav {
  position: fixed;
  top: 0;
  transition: 0.6s;
  padding: 50px;
}

.nav2 {
  position: fixed;
  top: 0;
  transition: 0.6s;
  padding: 50px;
}

.bg-image {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient( rgba(0, 0, 0, 0.704), rgba(0, 0, 0, 0.5) ), url('../images/2.jpg');
  background-repeat : no-repeat;
  background-size : cover;
  backdrop-filter: blur(3.5px);
  flex-direction: column;
}

.car-overlay{
  min-height: 100%;
  width: 100%;
  filter: brightness(60%); 
}

.btn-start {
  color: white;
  background-color: #f08724;
  text-decoration: none;
  width: 16rem;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 3px 10px 15px 2px rgba(0, 0, 0, 0.165);
}

#carouselExampleSlidesOnly {
  z-index: -1;
}

.form-floating {
  z-index: -1;
}

.dropdown-menu {
  --bs-dropdown-min-width: 115px !important;
}

.profile-crop {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%,-50%);
}

.prorile-card {
  background-color: white;
  padding: 4rem 0;
  box-shadow: 3px 10px 15px 2px rgba(0, 0, 0, 0.165);
  width: 35rem;
  border-radius: 20px;
}