{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load socialaccount %}
{% providers_media_js %}

{% block css %}
{% endblock %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="로그인하기" %}
</form>

<a class="btn btn-primary" href="{% url 'accounts:logout' %}">로그아웃하기</a>

<a href="{% provider_login_url 'google' %}">구글 로그인</a>
<a href="{% provider_login_url 'kakao' method='oauth2' %}">카카오 로그인</a>

{% endblock %}