{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block css %}
{% endblock %}

{% block content %}
<div class="prorile-card d-flex flex-column align-items-center m-auto">
    {% if user.is_authenticated %}

        {% if user.profile_image %}
            <div class="profile-crop">
                <img class="profile-image" src="{{ user.profile_image.url }}" alt=""">
            </div>
        {% else %}
            <div class="profile-crop"><img class="profile-image" src="https://dummyimage.com/300X400" alt=""></div>
        {% endif %}
        <div class="mt-4">
            <p><span class="fw-bold">닉네임 : </span>{{ user.nickname }}</p>
            <p><span class="fw-bold">이름 : </span>{{ user.username }}</p>
            <p><span class="fw-bold">이메일 : </span>{{ user.email }}</p>
            <p><span class="fw-bold">핸드폰 번호 : </span>{{ user.phone }}</p>
        </div>

        <div class="d-flex mt-4">
            <a class="btn me-3 text-white" href="{% url 'accounts:mypage-update' user.pk %}" style="background-color: #f08724;">내 정보 수정하기</a>
            <a class="btn btn-outline-danger" href="{% url 'accounts:mypage-delete' user.pk %}">회원 탈퇴하기</a>
        </div>

    {% else %}

        <h1><a href="{% url 'accounts:signup' %}">회원가입하기</a></h1>
        <h1><a href="{% url 'accounts:login' %}">로그인하기</a></h1>

    {% endif %}
</div>
{% endblock %}