{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block css %}
{% endblock %}

{% block content %}
<div class="prorile-card d-flex flex-column align-items-center m-auto">
    {% if user.is_authenticated %}

        {% if user.profile_image %}
            <div class="profile-crop">
                <img class="profile-image" src="{{ user.profile_image.url }}" alt=""">
            </div>
        {% else %}
            <div class="profile-crop"><img class="profile-image" src="https://dummyimage.com/300X400" alt=""></div>
        {% endif %}
        <div class="mt-4">
            <p><span class="fw-bold">닉네임 : </span>{{ user.nickname }}</p>
            <p><span class="fw-bold">이름 : </span>{{ user.username }}</p>
            <p><span class="fw-bold">이메일 : </span>{{ user.email }}</p>
            <span class="fw-bold mb-0">핸드폰 번호 : </span>{{ user.phone }}
        </div>

        <div class="d-flex justify-content-center my-3">
          <div class="mx-3"><span>작성 리뷰</span>
            {{ reviews.count }}
          </div>
          <div class="mx-3"><span>작성 댓글</span>
            {{ comments.count }}
          </div>      
        </div>

        <div class="d-flex justify-content-center mb-4" style="text-align: center;">
            <div class="mx-3"><span class="fw-bold">Followings </span><a id="followings-cnt" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor:pointer;">{{ user.followings.count }}</a></div>
            <div class="mx-3"><span class="fw-bold">Followers </span><a id="followers-cnt" data-bs-toggle="modal" data-bs-target="#Modal2" style="cursor:pointer;">{{ user.followers.count }}</a></div>      
        </div>
        {% if request.user.is_authenticated %}
        {% if request.user.pk != user.pk%}
        {% if request.user in user.followers.all %}
        <button id=follow-btn class="btn btn-info mt-3" onclick="follow(this.id)"> 팔로우 취소 </button>
        {% else %}
        <button id=follow-btn class="btn btn-info mt-3" onclick="follow(this.id)"> 팔로우 하기 </button>
        {% endif %}
        {% endif %}
        {% endif %}
  <!-- Modal -->
  <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Followings list</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for follow in followings_list %}
          <a href="{% url 'accounts:mypage' follow.pk %}">{{ follow.username }}</a>
          {% endfor %}
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Followers list</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% for follow in followers_list %}
            <a href="{% url 'accounts:mypage' follow.pk %}">{{ follow.username }}</a>
            {% endfor %}
            <br>
          </div>
      </div>
    </div>
  </div>

  
  {% if request.user.pk == user.pk%}
  <div class="d-flex mt-4">
      <a class="btn me-3 text-white" href="{% url 'accounts:mypage-update' user.pk %}" style="background-color: #f08724;">내 정보 수정하기</a>
      <a class="btn btn-outline-danger" href="{% url 'accounts:mypage-delete' user.pk %}">회원 탈퇴하기</a>
  </div>
  {% endif %}
  
    {% else %}

        <h1><a href="{% url 'accounts:signup' %}">회원가입하기</a></h1>
        <h1><a href="{% url 'accounts:login' %}">로그인하기</a></h1>

    {% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const follow = function (e) {
        const followBtn = document.querySelector(`#${e}`)
        const followingsCnt = document.querySelector(`#followings-cnt`)
        const followersCnt = document.querySelector(`#followers-cnt`)
        axios({
                method: 'get',
                url: `/accounts/mypage/{{ user.pk }}/follow/`
            }).then(response => {
                console.log(response.data.is_followings)
                if (response.data.is_followings === true) {
                    followBtn.innerText = "팔로우 취소"
                    followingsCnt.innerText = response.data.followings_count
                    followersCnt.innerText = response.data.followers_count
                } else {
                    followBtn.innerText = "팔로우 하기"
                    followingsCnt.innerText = response.data.followings_count
                    followersCnt.innerText = response.data.followers_count
                }
            })
    }
</script>
{% endblock %}