{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DAPLE</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  {% bootstrap_css %}
</head>
<body class="bg-image d-flex align-items-center">
  <img class="navbar-brand" src="{% static 'images/logo.png' %}" style="width: 260px; margin: 120px 20px 30px 0;">
  <lord-icon
    src="https://cdn.lordicon.com/lbkuzggq.json"
    trigger="hover"
    colors="primary:#e4e4e4,secondary:#848484,tertiary:#e86830"
    style="width:250px;height:250px; margin-bottom: 20px;">
  </lord-icon>
  <a class="btn-start" href="{% url 'stores:index' %}">다플 시작하기</a>
  <script type="text/javascript" defer src="{% static 'javascript/style.js' %}"></script>
  <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
  {% bootstrap_javascript %}
</body>
</html>
